.card {
    width: 18rem;

    height: auto;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: "Arial", sans-serif;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
}

.card {
    width: 13rem;
    border-radius: 0;
    /* border: 1px solid #ddd; */
    overflow: hidden;
    /* Hide overflow content */
    margin-bottom: 40px;
}

.card .card-img-top {
    width: 90%;
    margin-top: 10px;
    height: 250px;
    object-fit: cover;
    border: 1px solid #e0e0e0;
}

.card-body {
    padding: 20px;
    /* Add padding to the card body */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for hover effects */
    border-radius: 0;
    /* As specified, but consider adding a slight radius for aesthetics */
    height: auto;
    /* Keeps height flexible based on content */
}

.card:hover {
    transform: scale(1.03);
    /* Slightly increases size for emphasis */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Adds depth with shadow */
}

/* Ensuring text remains readable and does not change color on hover as it's inside Link */
.card-title,
.card-text {
    transition: color 0.3s ease;
    /* Optional: If you want to change text color on hover */
}

/* Specific hover styles for icons and text to indicate interaction */
.icon,
.eye-icon,
.view-count span {
    transition: color 0.3s ease;
    /* Smooth transition for icon and view count color */
}

.card:hover .icon,
.card:hover .eye-icon,
.card:hover .view-count span {
    color: #007bff;
    /* Example hover color */
}