@import url("https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #000000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 32px;
  font-family: "Sedgwick Ave Display";
  transition: color 0.7s;
  /* Add transition for smooth color change */
}

.logo:hover {
  color: gray;
  /* Change color on hover */
}


.nav-right {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #aaa;
}



.menu-icon {
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.search-container {
  margin-right: 20px;
}

.search-container input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  /* Changed from right: 0; to slide in from the left */
  width: 250px;
  height: 100vh;
  background-color: #333;
  transform: translateX(-100%);
  /* Changed to hide the sidebar to the left */
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}


.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  padding: 10px 20px;
  border-bottom: 1px solid #555;
}

.sidebar-links li:last-child {
  border-bottom: none;
}

.sidebar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.sidebar-links a:hover {
  color: #ffd700;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}