@import url("https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap");

@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  /* Assuming a black background */
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
  /* background-color: #ffffff; */
  padding: 20px;
  z-index: 1000;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  /* color: green; */
  /* Logo text color */
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.logo {
  /* color: #5be719; */
  color: white;
  font-family: "Sedgwick Ave Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}

.navbar .nav-links li {
  position: relative;

}

.navbar .nav-links {

  margin-bottom: 0;
}

.navbar .nav-links a {
  color: white;
  /* Link text color */
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s;
  margin-bottom: 0;
}

.navbar .nav-links a:hover {
  color: #aaa;
  /* Link hover color */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.nav-icons {
  display: flex;
  gap: 20px;
}

.icon {
  /* Style your icons here */
}

.search-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 30%;
  margin-top: 5px;
  margin-right: 35px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Set initial opacity to 0 to hide the container */
  opacity: 0;
  /* Apply transition to opacity property */
  transition: opacity 0.5s ease-out;
}

.search-container input[type="text"] {
  width: calc(100% - 20px);
  padding: 8px;
  border: none;
  outline: none;
}

/* Apply opacity to show the container */
.search-container.visible {
  opacity: 1;
}

/* Add any additional styling as needed */