.hero-area {
    width: 100%;
    height: 100vh;
    /* Adjust height as needed */
    position: relative;
    overflow: hidden;
}

.welcome-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    z-index: 1;
}

h2 {
    font-size: 3rem;
    /* Adjust font size as needed */
    color: #ffffff;
    /* Adjust text color */
}

p {
    font-size: 1.5rem;
    /* Adjust font size as needed */
    color: #ffffff;
    /* Adjust text color */
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffffff;
    /* Adjust button background color */
    color: #000000;
    /* Adjust button text color */
    text-decoration: none;
    font-size: 1.2rem;
    /* Adjust font size as needed */
    border-radius: 5px;
    /* Adjust border radius as needed */
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #000000;
    /* Adjust button background color on hover */
    color: #ffffff;
    /* Adjust button text color on hover */
}

.welcome-content {
    display: none;
}

.welcome-content.active {
    display: block;
}

.text-container .slide-in-top {
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes slideInTop {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.text-container .slide-in-bottom {
    animation-name: slideInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes slideInBottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}