.categories {
    /* margin: top right bottom left; */
    margin: 96px 311px 100px 344px;
    width: 710px;
    height: 361px;
    border-radius: 20px;
    /* border: 2px solid red; */
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
}

.firstCat {

    width: 217px;
    height: 89px;
    /* margin: 31px 374px 241px 119px; */
    margin-top: 41px;
    margin-left: 119px;
    margin-right: 42px;
    /* margin-bottom: 241px; */
    /* border: 1px solid black; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #F5F5F5;
    /* margin-left: 119px; */
}

.animal-image {
    width: 49px;
    height: 49px;
    margin-right: 10px;
    /* Adjust as needed for spacing between image and text */
}

.text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;
}

.secondCat {

    width: 217px;
    height: 89px;
    /* margin: 31px 79px 241px 414px; */
    margin-top: 41px;
    margin-left: 25px;
    margin-right: 79px;
    border-radius: 15px;

    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #F5F5F5;

}

.thirdCat {

    width: 217px;
    height: 89px;
    /* margin: 31px 79px 241px 414px; */
    margin-bottom: 50px;
    margin-left: 268px;
    margin-right: 225px;


    /* border: 1px solid black; */

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #F5F5F5;
    border-radius: 15px;
}

.outInfo {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
}

.info {
    /* border: 2px solid red; */
    width: 1200px;
    height: 467px;
    margin-bottom: 40px;
}

.paraInfo {
    color: #666;

    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}